# ------------------------------------------------------------------------------------------------------------------------
# Required
# the following settings are required to start PTS stack:

# Django's secret key for Threatr
# https://docs.djangoproject.com/en/6.1/ref/settings/#std-setting-SECRET_KEY
# on possible value: the output of:
# docker run --rm -it --entrypoint='' ghcr.io/piroguetoolsuite/threatr:main python -c 'from django.core.management.utils import get_random_secret_key ; print(get_random_secret_key())'
# THREATR_DJANGO_SECRET_KEY={{ colander_vault.threatr_django_secret_key }}"
# THREATR_DJANGO_SECRET_KEY=
#
# Django's secret key for Colander
# https://docs.djangoproject.com/en/6.1/ref/settings/#std-setting-SECRET_KEY
# on possible value: the output of:
# docker run --rm -it --entrypoint='' ghcr.io/piroguetoolsuite/colander:main python -c 'from django.core.management.utils import get_random_secret_key ; print(get_random_secret_key())'
# COLANDER_DJANGO_SECRET_KEY={{ colander_vault.colander_django_secret_key }}
# COLANDER_DJANGO_SECRET_KEY=

# MINIO_ACCESS_KEY={{ colander_vault.minio_access_key }}
# MINIO_SECRET_KEY={{ colander_vault.minio_secret_key }}

# ------------------------------------------------------------------------------------------------------------------------
# Docker settings

# Path to the docker socket (used by watchtower and traefik)
# DOCKER_SOCKET_PATH={{docker_socket_path}}
# DOCKER_SOCKET_PATH=/var/run/docker.sock
# DOCKER_SOCKET_PATH=/run/user/1000/docker.sock

# How to handle logs of docker container
# possible values: none, local, json-file, syslog, journald, ...
# and many others:
# https://docs.docker.com/engine/logging/configure/#supported-logging-drivers
# DOCKER_LOG_DRIVER=json-file

# ------------------------------------------------------------------------------------------------------------------------
# IMAGE VERSIONS

# Version of the OCI image for traefik service
# https://hub.docker.com/_/traefik/tags
# TRAEFIK_IMAGE_VERSION="{{ stack.services.traefik.version }}"
# TRAEFIK_IMAGE_VERSION=v3.7

# Version of the OCI image for watchtower service
# https://github.com/nicholas-fedor/watchtower
# https://hub.docker.com/r/nickfedor/watchtower/tags
# WATCHTOWER_IMAGE_VERSION={{stack.services.watchtower.version}}
# WATCHTOWER_IMAGE_VERSION=latest

# Version of the OCI image for elasticsearch service
# https://hub.docker.com/_/elasticsearch/tags
# ELASTICSEARCH_IMAGE_VERSION="{{stack.services.elasticsearch.version}}"
# ELASTICSEARCH_IMAGE_VERSION=8.4.1

# Version of the OCI image for redis service
# https://hub.docker.com/_/redis/tags
# REDIS_IMAGE_VERSION="{{stack.services.redis.version}}"
# REDIS_IMAGE_VERSION=8

# Version of the OCI image for tika service
# https://hub.docker.com/r/apache/tika/tags
# TIKA_IMAGE_VERSION={{stack.services.tika.version}}
# TIKA_IMAGE_VERSION=3.0.0.0-full

# Version of the OCI image for colander service
# we provide 2 main tags:
# - main = production, our latest release
# - next = staging
# https://github.com/piroguetoolsuite/colander/pkgs/container/colander/versions?filters%5Bversion_type%5D=tagged
# COLANDER_IMAGE_VERSION={{stack.services.colander.version}}
# COLANDER_IMAGE_VERSION=main

# Version of the OCI image for colander-postgres service
# https://github.com/PiRogueToolSuite/postgres/pkgs/container/postgres/versions
# COLANDER_POSTGRES_IMAGE_VERSION={{stack.services.XXXXXXXX.version}}
# COLANDER_POSTGRES_IMAGE_VERSION=main

# Version of the OCI image for minio service
# https://quay.io/repository/minio/minio?tab=tags&tag=latest
# MINIO_IMAGE_VERSION="{{stack.services.minio.version}}"
# MINIO_IMAGE_VERSION=RELEASE.2025-09-07T16-13-09Z.hotfix.7aa24e772

# Version of the OCI image for cyberchef service
# https://hub.docker.com/r/mpepping/cyberchef/tags
# CYBERCHEF_IMAGE_VERSION={{stack.services.cyberchef.version}}
# CYBERCHEF_IMAGE_VERSION=v11.4.0

# Version of the OCI image for playwright service
# https://github.com/piroguetoolsuite/playwright-rest-api/pkgs/container/playwright-rest-api/versions?filters%5Bversion_type%5D=tagged
# PLAYWRIGHT_IMAGE_VERSION="{{stack.services.playwright.version}}"
# PLAYWRIGHT_IMAGE_VERSION=main

# Version of the OCI image for threatr service
# https://github.com/piroguetoolsuite/threatr/pkgs/container/threatr/versions?filters%5Bversion_type%5D=tagged
# THREATR_IMAGE_VERSION="{{stack.services.threatr.version}}"
# THREATR_IMAGE_VERSION=main

# Version of the OCI image for threatr-postgres service
# https://github.com/PiRogueToolSuite/postgres/pkgs/container/postgres/versions
# THREATR_POSTGRES_IMAGE_VERSION=main

# Version of the OCI image for mandolin service
# https://github.com/piroguetoolsuite/mandolin/pkgs/container/mandolin/versions?filters%5Bversion_type%5D=tagged
# MANDOLIN_IMAGE_VERSION=main

# ------------------------------------------------------------------------------------------------------------------------
# FQDNs / base URLs

# FQDN of traefik dashboard
# TRAEFIK_DASHBOARD_FQDN="{{ stack.services.traefik.vars.traefik_fqdn }}"
# TRAEFIK_DASHBOARD_FQDN="traefik.local"

# FQDN of colander service
# COLANDER_FQDN="{{ stack.services.traefik.vars.colander_fqdn }}"
# COLANDER_FQDN="colander.local"
# COLANDER_FQDN="colander.local"

# Base URL of colander service
# COLANDER_BASE_URL={{ colander_vault.colander_base_url }}
# COLANDER_BASE_URL=http://colander.local
# COLANDER_BASE_URL=https://$COLANDER_FQDN

# FQDN of threatr service
# THREATR_FQDN="stack.services.traefik.vars.threatr_fqdn"
# THREATR_FQDN="threatr.local"

# Base URL of threatr service
# THREATR_BASE_URL={{ colander_vault.threatr_base_url }}
# THREATR_BASE_URL=http://threatr-front:5000

# FQDN of cyberchef service
# CYBERCHEF_FQDN="{{ stack.services.traefik.vars.cyberchef_fqdn }}"
# CYBERCHEF_FQDN="cyberchef.local"

# Base URL of cyberchef service
# CYBERCHEF_BASE_URL={{ colander_vault.cyberchef_base_url }}
# CYBERCHEF_BASE_URL="https://${CYBERCHEF_FQDN}"

# Base URL of Mandolin service
# MANDOLIN_BASE_URL=http://mandolin:8000


# ------------------------------------------------------------------------------------------------------------------------
# Volume paths

# Volume or path to use to store data from traefik service
# TRAEFIK_VOLUME_PATH={{ stack.services.traefik.volumes.config }}
# TRAEFIK_VOLUME_PATH=production_traefik

# Volume or path to use to store traefik logs
# TRAEFIK_LOGS_VOLUME_PATH=production_traefik_logs

# Volume or path to use for redis persistence
# https://hub.docker.com/_/redis#start-with-persistent-storage
# REDIS_VOLUME_PATH="{{ stack.services.redis.volumes.data }}"
# REDIS_VOLUME_PATH=production_redis_data

# Volume or path to use to store data of minio service
# MINIO_VOLUME_PATH="{{ stack.services.minio.volumes.data }}"
# MINIO_VOLUME_PATH=production_minio_data

# Volume or path to use to store data from elasticsearch service
# ELASTICSEARCH_VOLUME_PATH="{{ stack.services.elasticsearch.volumes.data }}"
# ELASTICSEARCH_VOLUME_PATH=production_es_data

# Volume or path to use to store PostgreSQL data for colander service
# COLANDER_POSTGRES_DATA_VOLUME_PATH=production_colander_postgres_data

# Volume or path to use to store backups of PostgreSQL for colander service
# COLANDER_POSTGRES_BACKUPS_VOLUME_PATH=production_colander_postgres_backups

# Volume or path to use to store PostgreSQL data for threatr service
# THREATR_POSTGRES_DATA_VOLUME_PATH=threatr_postgres_data

# Volume or path to use to store backups of PostgreSQL for threatr service
# THREATR_POSTGRES_BACKUPS_VOLUME_PATH=production_threatr_postgres_backups

# ------------------------------------------------------------------------------------------------------------------------
# Colander settings

# Toggle django's debug mode Colander
# possible values: True, False ; be warned this must be always False in production environements.
# COLANDER_DJANGO_DEBUG=False

# URL of redis instance used by colander-front and colander-worker services to
# handle background tasks ; by default we use the same redis instance as the
# one used by threatr-front and threatr-worker
# COLANDER_REDIS_URL=redis://redis:6379/0

# Settings for the instance PostgreSQL used by Colander
# COLANDER_POSTGRES_POSTGRES_HOST=colander-postgres
# COLANDER_POSTGRES_POSTGRES_PORT=5432
# COLANDER_POSTGRES_POSTGRES_DB=colander
# COLANDER_POSTGRES_POSTGRES_USER={{ colander_vault.colander_postgres_user }}
# COLANDER_POSTGRES_POSTGRES_USER=postgres
# COLANDER_POSTGRES_POSTGRES_PASSWORD={{ colander_vault.colander_postgres_password }}
# COLANDER_POSTGRES_POSTGRES_PASSWORD=pgpassword
# Used by pg_ready, see the healthcheck in the Docker Compose file
# COLANDER_POSTGRES_PGDATABASE=colander
# COLANDER_POSTGRES_PGUSER={{ colander_vault.colander_postgres_user }}
# COLANDER_POSTGRES_PGUSER=postgres

# https://docs.djangoproject.com/en/dev/ref/settings/#secure-ssl-redirect
# COLANDER_DJANGO_SECURE_SSL_REDIRECT=True

# By default we disable new account registration on colander
# COLANDER_DJANGO_ACCOUNT_ALLOW_REGISTRATION=False

# Lets you specify which django config file to use for Colander
# COLANDER_DJANGO_SETTINGS_MODULE=config.settings.production

# COLANDER_WEB_CONCURRENCY=4

# COLANDER_DJANGO_ALLOWED_HOSTS={{ colander_vault.colander_django_allowed_hosts }}
# COLANDER_DJANGO_ALLOWED_HOSTS=colander.local
# COLANDER_DJANGO_ALLOWED_HOSTS="${COLANDER_FQDN:-colander.local},colander-front"
# COLANDER_DJANGO_ALLOWED_HOSTS=["localhost","127.0.0.1","::1","colander.local"]


# COLANDER_DJANGO_ADMIN_URL: {{ colander_vault.colander_django_admin_url }}
# COLANDER_DJANGO_ADMIN_URL=admin/

# ------------------------------------------------------------------------------------------------------------------------
# Threatr settings

# Toggle django's debug mode Threatr
# possible values: True, False
# be warned this must be always False in production environements.
# THREATR_DJANGO_DEBUG=False
#

# THREATR_POSTGRES_POSTGRES_HOST=threatr-postgres
# THREATR_POSTGRES_POSTGRES_PORT=5432
# THREATR_POSTGRES_POSTGRES_USER={{ colander_vault.threatr_postgres_user }}
# THREATR_POSTGRES_POSTGRES_USER=postgres
# THREATR_POSTGRES_POSTGRES_PASSWORD={{ colander_vault.threatr_postgres_password }}"
# THREATR_POSTGRES_POSTGRES_PASSWORD=pgpassword
# THREATR_POSTGRES_PGDATABASE=threatr
# THREATR_POSTGRES_PGUSER={{ colander_vault.threatr_postgres_user }}"
# THREATR_POSTGRES_PGUSER=postgres

# THREATR_DJANGO_ALLOWED_HOSTS={{ colander_vault.threatr_django_allowed_hosts }}"
# THREATR_DJANGO_ALLOWED_HOSTS="${THREATR_FQDN:-threatr.local},threatr-front,localhost,127.0.0.1"

# THREATR_DJANGO_ADMIN_URL={{ colander_vault.threatr_django_admin_url }}"
# THREATR_DJANGO_ADMIN_URL=admin/

# URL of redis instance used by threatr-front and threatr-worker services to
# handle background tasks ; by default we use the same redis instance as the
# one used by colander-front and colander-worker
# THREATR_REDIS_URL=redis://redis:6379/0






# ------------------------------------------------------------------------------------------------------------------------
# Traefik settings

# Log level of traefik service
# possible values: TRACE, DEBUG, INFO, WARN, ERROR, FATAL, and PANIC
# https://doc.traefik.io/traefik/reference/install-configuration/observability/logs-and-accesslogs/#opt-log-level
# TRAEFIK_LOG_LEVEL=ERROR


# Enable the traefik API handler
# TRAEFIK_API_ENABLED={% if stack.services.traefik.vars.enable_dashboard %}true{%else%}false{% endif %}


# The email address to provide to letsencrypt
# TRAEFIK_CERTIFICATESRESOLVER_LETSENCRYPT_ACME_EMAIL="{{ stack.services.traefik.vars.acme_email }}"
# TRAEFIK_CERTIFICATESRESOLVER_LETSENCRYPT_ACME_EMAIL=letsencrypt@localhost

# TRAEFIK_DASHBOARD_BINDING=127.0.0.1:8080
# TRAEFIK_HTTP_BINDING=127.0.0.1:8000
# TRAEFIK_HTTPS_BINDING=127.0.0.1:4443

# ------------------------------------------------------------------------------------------------------------------------
# Elasticsearch settings


# ELASTICSEARCH_ES_JAVA_OPTS_XMS="{{stack.services.elasticsearch.xms}}"
# ELASTICSEARCH_ES_JAVA_OPTS_XMS=2048m

# ELASTICSEARCH_ES_JAVA_OPTS_XMX="{{stack.services.elasticsearch.xmx}}"
# ELASTICSEARCH_ES_JAVA_OPTS_XMX=2048m





# BASE_ACME_EMAIL={{ colander_vault.acme_email }}
# BASE_ACME_EMAIL=admin@local.host
# BASE_ADMIN_NAME={{ colander_vault.admin_name }}
# BASE_ADMIN_NAME=admin
# BASE_ADMIN_EMAIL={{ colander_vault.admin_email }}
# BASE_ADMIN_EMAIL=admin@local.host
# BASE_DJANGO_DEFAULT_FROM_EMAIL={{ colander_vault.django_default_from_email }}
# BASE_DJANGO_DEFAULT_FROM_EMAIL=admin@local.host
# BASE_EMAIL_HOST={{ colander_vault.email_host }}
# BASE_EMAIL_HOST=mailhog
# BASE_EMAIL_HOST_USER={{ colander_vault.email_host_user }}
# BASE_EMAIL_HOST_USER=postmaster@local.host
# BASE_EMAIL_HOST_PASSWORD={{ colander_vault.email_host_password }}
# BASE_EMAIL_HOST_PASSWORD=

# BASE_EMAIL_PORT={{ colander_vault.email_port }}
# BASE_EMAIL_PORT=25

# BASE_EMAIL_USE_TLS={{ colander_vault.email_use_tls }}
# BASE_EMAIL_USE_TLS=False

# BASE_EMAIL_USE_SSL={{ colander_vault.email_use_ssl }}
# BASE_EMAIL_USE_SSL=False
